#app {
  height: 100vh;
}

#header {
  background-color: springgreen;
  text-align: center;
  color: white;
  height: 10vh;
}

.chatroom {
  border: solid 1px springgreen;
}
  .messagesContainer {
    overflow-y: scroll;
    max-height: 80vh;
  }
  .message {

  }
  .message-username {
    font-weight: bold;
  }
  textarea {
    resize: none;
  }

.details {
  border: solid 1px springgreen;
}

.roomList {
  border: solid 1px springgreen;
  overflow-y: scroll;
  max-height: 80vh;
}

#footer {
  background-color: springgreen;
  text-align: center;
  color: white;
}
