#app {
  height: 100vh;
}

#header {
  background-color: springgreen;
  text-align: center;
  color: white;
  height: 10vh;
}

#main-content {

} .section-header {
    text-align:'center';
  }

  #roomList {

  }
    #roomList > ul {
      border: solid 1px springgreen;
      overflow-y: scroll;
      max-height: 70vh;
    }

  #currentRoom {
    border: solid 1px springgreen;
  }
    #messagesContainer {
      overflow-y: scroll;
      max-height: 70vh;
    }
    #chat-input {

    }
      #chat-input > textarea {
        resize: none;
      }
    .message {

    }
    .message-username {
      font-weight: bold;
    }

  #roomDetails {
    border: solid 1px springgreen;
  }

#footer {
  background-color: springgreen;
  text-align: center;
  color: white;
}
